/* src/index.css yoki global.css */
@font-face {
  font-family: 'TT Interfaces';
  src: url('/fonts/TT-Interfaces.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'TT Interfaces', sans-serif;
  font-family: "SF Pro Display, sans-serif";
  background-color: black;
}