body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.app {
    text-align: center;
    padding: 20px;
}

.button-group {
    margin: 20px 0;
}

.button-group button {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #6200ee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-group button:hover {
    background-color: #3700b3;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #1e1e1e;
    padding: 24px;
    border-radius: 32px;
    width: 450px;
    height: 352px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card img {
    display: flex;
    width: 107px;
    height: 107px;
}

/* Animatsiya sinflari */
.fade-enter {
    opacity: 0;
    transform: translateY(20px);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease, transform 300ms ease;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 300ms ease, transform 300ms ease;
}
.title-h2 {
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    font-style: bold;
}
.title-p {
    text-align: left;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    font-style: normal;
    color: #AAAAAA;
}